// Settings Tab
.sidebar-tab(ng-click="tabs.toggleTab('settings')", ng-class='{active: tabs.settings}')
  p Editor Settings
.tab-content(ng-show='tabs.settings')
  p This is some temporary content
  p this is some more
