html, body {
  height: 100%;
}

.top-navbar {
  position: relative;
  height: 44px;
  background: #4679bd;
  top: 0;
  left: 0;
  right: 0;
}

.sidebar {
  float: left;
  width: 217px;
  height: 100%;
}

.main {
  margin-left: 217px;
  background: #DDD;
  height: 100%;
  width: 100%;
}