.sidebar-tab {
  height: 35px;
  cursor: pointer;
  text-decoration: none;
  padding: 0 8px;
}

.sidebar-tab > p {
  font-size: 13px;
  margin: 0;
  padding-top: 10px;
}

.sidebar-tab.active {
  font-weight: 600;
  border: none;
}

.sidebar-tab, .tab-content {
  border-bottom: thin solid #ccc;
}

.tab-content {
  font-size: 0.75em;
}

.sidebar-col {
  padding: 0 8px;
  margin-bottom: 8px;
  display: inline-block;
  vertical-align: top;
  width: 92px;
}

.sidebar-col > legend,
.sidebar-row > legend {
  font-weight: 600;
  margin-bottom: 10px;
}

.radio {
  min-height: 20px;
  padding-left: 8px;
}

.radio label {
  padding-left: 20px;
  cursor: pointer;
}

.radio input[type=radio] {
  position: absolute;
  margin-left: -20px;
}

/*.sidebar-tab.ng-hide-add, .sidebar-tab.ng-hide-remove {
  transition: 0s ease-out all;
}

.sidebar-tab.ng-hide-add-active,
.sidebar-tab.ng-hide-remove-active {
  transition: 1s ease-out all;
}

.sidebar-tab.ng-hide-add { height: 0px; }
.sidebar-tab.ng-hide-add.ng-hide-add-active { height: auto; }
.sidebar-tab.ng-hide-remove { height: auto; }
.sidebar-tab.ng-hide-remove.ng-hide-remove-active { height: 0px; }*/